.tracklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;

    &__icon {
        height: auto;
        margin: .5rem;
        width: 20px;
    }

    &__searchTerm {
        font-size: 1.4rem;
        margin: .5rem;
        text-align: center;
    }

    &__songsFound {
        font-size: 1rem;
        margin: 0;
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        list-style-type: none;

        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 1rem 0;
            text-align: center;

            p {
                flex-basis: 100%;
                margin: 0;
            }

            p.tracklist__button__holder {
                margin: 2rem 0 1rem 0;
            }

            p.tracklist__title {
                margin-bottom: .3rem;
            }
        }

    }

    &__title {
        font-size: 1.4rem;
    }

    &__divider {
        border-bottom: 1px solid darken($primaryColor, 30%);
        flex-basis: 40%;
        margin: 2rem 0 1rem 0;
    }

    &__button {
       @include button;
    }

}