@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

$backgroundColor: #000419;
$foregroundColor: #FFF;
$primaryColor: #3B32BC;
$secondaryColor: #32aabc;

$fontFamily: 'Source Sans Pro', Arial;