main {
    padding: 1rem;
    position: relative;

    h1 {
        font-size: 2rem;
        margin: 0;
    }
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secondaryHighlight {
    color: $secondaryColor;
}

.primaryHighlight {
    color: $primaryColor;
}