section[role=search] {
    flex-basis: 100%;
    padding: 1rem 0;

    legend {
        display: none;
    }

    fieldset {
        border: 0;
    }

    label {
        display: flex;
        justify-content: center;
        position: relative;
        a {
            height: 14px;
            margin: auto 0;
            position: absolute;
            top: 0;
            right: 1rem;
            bottom: 0;
            width: 14px;
        }
    }

    input {
        background-color: $foregroundColor;
        border: 0;
        border-radius: 2rem;
        color: $backgroundColor;
        flex-basis: 100%;
        padding: .8rem 1rem;
    }

}